In [103]:
n = int(input())
for i in range(n):
    for j in range(n):
        print('3', end = ' ')
    print( )

4
3 3 3 3
3 3 3 3
3 3 3 3
3 3 3 3

In [94]:
n = int(input())
for i in range(n+1):
    for j in range(i):
        print('*', end = ' ')
    print()

4

*
* *
* * *
* * * *

In [3]:
n = int(input())
for i in range(n+1):
    print(i * '*')

4

*
**
***
****

In [101]:
n = int(input())
for i in range(n,0,-1):
    print(i * '*')

4
****
***
**
*

In [113]:
n = int(input())
for i in range(1,n+1):
    for j in range(1,i+1):
        print(j, end = ' ')
    print( )

3
1
1 2
1 2 3

In [133]:
n = int(input())
for i in range(n+1,1,-1):
    for j in range(1,n):
        print(j, end = ' ')
    print( )

4
1 2 3
1 2 3
1 2 3
1 2 3

In [144]:
n = int(input())
for i in range(1,n+1):
    for j in range(1,i):
        print(j, end = ' ')
    print()

5

1
1 2
1 2 3
1 2 3 4

In [149]:
n = int(input())
for i in range(1,n+1):
    for j in range(i,0,-1):
        print(j, end = ' ')
    print()

4
1
2 1
3 2 1
4 3 2 1

In [30]:
n = int(input())
for i in range(1,n+1):
    for j in range(65,65+i):
        a = chr(j)
        print(a, end = ' ')
    print()

5
A
A B
A B C
A B C D
A B C D E

In [48]:
for i in range(65,70):
    for j in range(65,i+1):
        print(chr(i), end = ' ')
    print()

A
B B
C C C
D D D D
E E E E E

In [59]:
n = int(input())
for i in range(0,n+1):
    for j in range(64+i,64+i+i):
        print(chr(j), end = ' ')
    print()

4

A
B C
C D E
D E F G

In [61]:
n = int(input())
for j in range(1,5):
    for i in range(1,n+1):
        print(i * j, end = ' ')
    print()

5
1 2 3 4 5
2 4 6 8 10
3 6 9 12 15
4 8 12 16 20